@media screen and (min-width: 768px) {
    .portfolio {
        padding: 80px 0px 80px 40px;
       
    }
    .portfolio-container{
        padding: 0;
    }
    .project-card {
        width: 342px; /* Фиксированная ширина для мобильных */
        margin: 0 auto; /* Центрирование карточки */
    }
    
    .portfolio-slider {
        margin: 0;
      }
      
      .slick-list {
        margin: 0;
      }



}