.footer{
    background-image: 
      url('../../assets/images/footer_mob.webp');

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: soft-light;
}

.footer-container{
   padding: 40px 16px;
   color: var(--secondary-text-color);
   .section-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.64px;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 24px;
}
}
.contact-info{
    align-self: stretch;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.28px;
    .contact-details{
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap:40px;
        margin-top:30px;
        margin-bottom:30px;
    }
}
.contact-item>a>img{
    width: 40px;
    transition: transform 0.4s ease, filter 0.4s ease; 
}
.contact-item>a:hover>img{
    transform: scale(1.4); /* увеличение на 20% */
    filter: brightness(0) saturate(100%) invert(56%) sepia(75%) 
           saturate(1352%) hue-rotate(150deg) brightness(89%) contrast(101%);
}
.social-links{
    display:flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    li > a:hover > img {
        transform: scale(1.2); /* увеличение на 20% */
        filter: brightness(0) saturate(100%) invert(56%) sepia(75%) 
               saturate(1352%) hue-rotate(150deg) brightness(89%) contrast(101%);
    }
    li>a>img{
        width: 34px;
        height: 34px;
        transition: transform 0.4s ease, filter 0.4s ease; 

    }
    li>a>img:last-child{
        border-radius: 5px;
    }
}

.copyright{
    align-self: stretch;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.28px;
    margin-top:40px
}